.navList {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: #1E293B;
   
    height: 4.5rem;
    width: 100%;
    z-index: 10; 
}

.navList .regularNavbar {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navList .regularNavbar li {
    padding: 5px 10px; 
}

.navList .regularNavbar li a {
    cursor: pointer;
    color:#1e3b1f ;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration:none;
    padding: 0.1rem 0.2rem; 
    border-radius: 0.4rem; 
    background-color: #6f8cbb; 
    transition: ease 0.1s;  
}  

.navList .regularNavbar li a:hover {
    color: #8599B6;
    background-color:#274068; 
}


     /* Hamburger styles */
.hamburger {
    display: none;  /* initially hidden */
}

 /* MOBILE sTYLES */
@media  screen and (max-width: 760px) {
    .navList .regularNavbar {
        display: none;  
    }
    .hamburger {
        display:inline-flex;  /*Show hamburger icon on mobile*/
        /* align-self: center; */
        color: rgba(62, 85, 123, 0.5); 
        font-size: 3rem;
        margin-right: 0.7rem;
        margin-bottom: 0.2rem;
    }

    .navList {
        background-color: #041633;
        /* display: flex; */
        padding: 0.2rem 0;  
        /* justify-content: flex-end; */
        top: 0;
        height: 3rem;
        z-index: 20;
    }

     .showMenu {
         display: flex;  
         flex-direction: column; 
         align-items: center;
         width: 15%; 
    } 

         .showMenu {
        display: flex;
        list-style:none;
        margin-right: 0.2rem;
        flex-direction: column;
        align-items: flex-end;
        width: 10%;
    }

     .showMenu li {
        /* margin: 0 0rem;    */
        height: 3.4rem;
        width: 14rem;
        display: flex;
        align-items: center;
    }


     .showMenu li a {
        color:#1E293B ;
        font-weight: bold;
        font-size: 2.1rem;
        text-decoration:none;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem; 
        background-color: rgba(60, 79, 109, 0.7);  
        transition: ease 0.1s;  /* This adds a smooth transition effect when the background color changes */
        width: 15rem;
    }
    
     .showMenu li a:hover {
        color: #8599B6;
        background-color:#274068; 
        cursor: pointer;
    }                
                        
}


